* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #000;
    background-image: url("https://wallpaper.dog/large/5438759.jpg");
}

#canvas {
    border: 2px solid rgb(255, 255, 255)
}

#App {
    position: relative;
    top: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#heading {
    font-family: cursive;
    margin-top: 12px;
    display: flex;
    justify-content: center;
    color: white;

}

#heading:hover {
    color: rgb(255, 174, 0);
    transition: all 0.2s;
}

#thickness {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    right: 4vw;
    height: 100%;
    justify-content: space-around;
}

#styles {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 4vw;
    height: 100%;
    justify-content: space-around;

}



#colour {
    top: 4vw;
    display: flex;
    justify-content: space-between;
    width: 50%;
    position: relative;
    left: 23vw;
    margin-bottom: 9vw;
}

button {
    background-color: #37b1c7;
    border: none;
    color: white;
    margin: 2px 2px;
    padding: 17px 34px;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    border-radius: 12px;

}

button:hover {
    color: black;
    background: rgb(107, 1, 156);
    filter: brightness(170%);
    transition: all 0.3s;
    transform: scale(120%);
}

.size:hover {
    background: rgb(53, 134, 80);

}

#blue {
    background: rgb(61, 61, 199);
    font-family: cursive;

}

#white {
    background: white;
    color: black;
    font-family: cursive;

}
#white:hover {
    background: rgb(141, 116, 180);
}

#reset {
    background: rgb(240, 66, 13);
    font-family: cursive;

}

#green {
    background: green;
    font-family: cursive;

}

#butt {
    border-radius: 2px;
    font-family: cursive;

}

#square {
    font-family: cursive;

}

#round {
    border-radius: 22px;
    font-family: cursive;

}